:root{
  --theme-back_main-color:hsl(222, 26%, 31%);
  --theme-back_keypad-color: hsl(223, 31%, 20%);
  --theme-operation_screen-color:hsl(224, 36%, 15%);
  --theme-Resetkey_back-color:hsl(225, 21%, 49%);
  --theme-Resetkey_shadow-color:hsl(224, 28%, 35%);
  --theme-Resultkey_back-color:hsl(6, 63%, 50%);
  --theme-Resultkey_shadow-color:hsl(6, 70%, 34%);
  --theme-MainKey_back-color:hsl(30, 25%, 89%);
  --theme-Mainkey_shadow-color:hsl(28, 16%, 65%);
  --theme-Maintext-color:hsl(221, 14%, 31%);
  --theme-Operation-color:hsl(30, 25%, 89%);
  --theme-hovernumber-color:hsl(30, 25%, 89%);
  
  --global-Sectext-color:hsl(0, 0%, 100%);
  --global-size-space: 20px;
  --global-type-display: flex;
  --global-position-content: center;
  --global-font-family: font-family: 'League Spartan', sans-serif;
  --global-font-weight: 700;
  --global-border-radius: 10px;
  --global-numb-size:32px;
  --global-font-size:20px

}

.theme2:root{
  --theme-back_main-color:hsl(0, 0%, 90%);
  --theme-back_keypad-color: hsl(0, 5%, 81%);
  --theme-operation_screen-color:hsl(0, 0%, 93%);
  --theme-Resetkey_back-color:hsl(185, 42%, 37%);
  --theme-Resetkey_shadow-color:hsl(185, 58%, 25%);
  --theme-Resultkey_back-color:hsl(25, 98%, 40%);
  --theme-Resultkey_shadow-color:hsl(25, 99%, 27%);
  --theme-MainKey_back-color:hsl(45, 7%, 89%);
  --theme-Mainkey_shadow-color:hsl(35, 11%, 61%);
  --theme-Maintext-color:hsl(60, 10%, 19%);
  --theme-Operation-color:hsl(60, 10%, 19%);
  --theme-hovernumber-color:hsl(30, 25%, 89%);
  

}

.theme3:root{
  --theme-back_main-color:hsl(268, 75%, 9%);
  --theme-back_keypad-color: hsl(268, 71%, 12%);
  --theme-operation_screen-color:hsl(268, 71%, 12%);
  --theme-Resetkey_back-color:hsl(281, 89%, 26%);
  --theme-Resetkey_shadow-color:hsl(285, 91%, 52%);
  --theme-Resultkey_back-color:hsl(176, 100%, 44%);
  --theme-Resultkey_shadow-color:hsl(177, 92%, 70%);
  --theme-MainKey_back-color:hsl(268, 47%, 21%);
  --theme-Mainkey_shadow-color:hsl(290, 70%, 36%);
  --theme-Maintext-color:hsl(52, 100%, 62%);
  --theme-Operation-color:hsl(52, 100%, 62%);
  --theme-hovernumber-color:hsl(52, 100%, 62%);
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  font-family: var(--global-font-family);
  background-color: var(--theme-back_main-color);
  transition: background 0.5s ease-in;

  
}

main{
  margin: auto;
  max-width: 500px;
  padding: var(--global-size-space); 
  
}


#calculator{  
  background-color: var(--theme-back_main-color);
  display: var(--global-type-display);
  flex-direction: column; 
  transition: background 0.5s ease-in;
}

header{
  background-color: var(--theme-back_main-color);
  display: var(--global-type-display);
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--global-size-space);
  color: var(--global-Sectext-color);
  transition: background 0.5s ease-in;
}

header h1{
  color: var(--theme-Operation-color);
}

h1{
  font-weight: var(--global-font-weight);
  letter-spacing: -2px;    
}

p{
  font-size: 12px;
  color: var(--theme-Operation-color);
  margin-left: 40%;
}

.checkbox{
  opacity: 0;
  position: absolute;
}

label i{
  opacity: 0;
}

#seletor{
  background-color: var(--theme-back_keypad-color);
  border-radius: 50px;
  padding: 5px;
  display: var(--global-type-display);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80px;
  height: 26px;
  transform: scale(.8);
}

.label1,.label2,.label3{
  cursor: pointer;
  padding: 4px;
  margin: 5px;
}



#seletor .ball{
  background-color: var( --theme-Resultkey_shadow-color);
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 5px;
  height: 18px;
  width: 18px;
  transform: translateX(0px);
  transition: transform 0.2s linear;  
}



#operation{
  display: var(--global-type-display);
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--global-size-space);
  margin: var(--global-size-space);
  background-color:var(--theme-operation_screen-color) ;
  color:var(--theme-Operation-color);
  font-weight: var( --global-font-weight);
  border-radius:var(--global-border-radius);
  font-size: 45px;
  transition: background 0.3s ease-in;
}

#previous-operation,
#currenty-operation{
  overflow-wrap: break-word;
  text-align: right;
}

#previous-operation{
  font-size: var(--global-size-space);
  min-height: 16px;  
  padding: 5px;
  text-align: right;
  font-weight: 500;
}





#keypad{
  background-color: var(--theme-back_keypad-color);
  display:var(--global-type-display);
  flex-direction: column;
  justify-content: var(-global-position-content);
  align-items: var(-global-position-content);
  gap: var(--global-size-space);
  padding: var(--global-size-space);
  margin: var(--global-size-space);
  border-radius:var(--global-border-radius);
  transition: background 0.3s ease-in;
  
}

button{
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow:inset 0 -5px 0 0 var(--theme-Mainkey_shadow-color);
  border-collapse: collapse;
  font-weight: var(--global-font-weight);
  color: var(--theme-Maintext-color);
  background-color: var(--theme-MainKey_back-color);
  transition: background 0.3s ease-in;
  
}

button:hover{
  cursor: pointer;
  background-color: var(--theme-Resetkey_shadow-color);
  box-shadow:inset 0 -5px 0 0 var(--theme-Resetkey_back-color);
  color: var(--theme-hovernumber-color);  
}

#numbers{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: var(--global-size-space);
  font-size: var(--global-font-size);
}

#numbers button{
  padding-top: 8px;
  padding-bottom: 8px;
  
}

#result{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--global-size-space);
}

#result button{
  padding-top: var(--global-size-space);
  padding-bottom: var(--global-size-space);
}

.btn-text{
  background-color:var(--theme-Resetkey_back-color) ;
  box-shadow:inset 0 -5px 0 0 var(--theme-Resetkey_shadow-color);
  color: var(--global-Sectext-color);
}

#result .result{
  background-color: var(--theme-Resultkey_back-color);
  box-shadow:inset 0 -5px 0 0 var(--theme-Resultkey_shadow-color);
  color: var(--global-Sectext-color);
}

.btn-number{
  font-size: var(--global-numb-size);
}
.btn-text{
  font-size: var(--global-font-size);
}

.attribution { 
  font-size: 11px; 
  text-align: center;
  color:var(--theme-Operation-color);
  transition: color 0.3s ease-in;
 }
.attribution a { 
  color:var(--theme-Operation-color);
  text-decoration: none;
 }

