:root{
  --theme1-back_main-color:hsl(222, 26%, 31%);
  --theme2-back_main-color:hsl(0, 0%, 90%);
  --theme3-back_main-color:hsl(268, 75%, 9%);

  --theme1-back_keypad-color: hsl(223, 31%, 20%);
  --theme2-back_keypad-color: hsl(0, 5%, 81%);
  --theme3-back_keypad-color: hsl(268, 71%, 12%);

  --theme1-operation_screen-color:hsl(224, 36%, 15%);
  --theme2-operation_screen-color:hsl(0, 0%, 93%);
  --theme3-operation_screen-color:hsl(268, 71%, 12%);

  --theme1-Resetkey_back-color:hsl(225, 21%, 49%);
  --theme2-Resetkey_back-color:hsl(185, 42%, 37%);
  --theme3-Resetkey_back-color:hsl(281, 89%, 26%);

  --theme1-Resetkey_shadow-color:hsl(224, 28%, 35%);
  --theme2-Resetkey_shadow-color:hsl(185, 58%, 25%);
  --theme3-Resetkey_shadow-color:hsl(285, 91%, 52%);

  --theme1-Resultkey_back-color:hsl(6, 63%, 50%);
  --theme2-Resultkey_back-color:hsl(25, 98%, 40%);
  --theme3-Resultkey_back-color:hsl(176, 100%, 44%);

  --theme1-Resultkey_shadow-color:hsl(6, 70%, 34%);
  --theme2-Resultkey_shadow-color:hsl(25, 99%, 27%);
  --theme3-Resultkey_shadow-color:hsl(177, 92%, 70%);

  --theme1-MainKey_back-color:hsl(30, 25%, 89%);
  --theme2-MainKey_back-color:hsl(45, 7%, 89%);
  --theme3-MainKey_back-color:hsl(268, 47%, 21%);

  --theme1-Mainkey_shadow-color:hsl(28, 16%, 65%);
  --theme2-Mainkey_shadow-color:hsl(35, 11%, 61%);
  --theme3-Mainkey_shadow-color:hsl(290, 70%, 36%);

  --theme1-Maintext-color:hsl(221, 14%, 31%);
  --theme2-Maintext-color:hsl(60, 10%, 19%);
  --theme3-Maintext-color:hsl(52, 100%, 62%);

  --global-Sectext-color:hsl(0, 0%, 100%);

  --global-size-space: 20px;
  --global-type-display: flex;
  --global-position-content: center;
  --global-font-family: font-family: 'League Spartan', sans-serif;
  --global-font-weight: 700;
  --global-border-radius: 10px;
  --global-numb-size:32px;
  --global-font-size:20px

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  font-family: var(--global-font-family);
  background-color: var(--theme1-back_main-color);
  transition: background 0.5s ease-in;
}

main{
  margin: auto;
  max-width: 500px;
  padding: var(--global-size-space); 
  
}



#calculator{  
  background-color: var(--theme1-back_main-color);
  display: var(--global-type-display);
  flex-direction: column; 
  transition: background 0.5s ease-in;
}

header{
  background-color: var(--theme1-back_main-color);
  display: var(--global-type-display);
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--global-size-space);
  color: var(--global-Sectext-color);
  transition: background 0.5s ease-in;
}

h1{
  font-weight: var(--global-font-weight);
  letter-spacing: -2px;    
}

p{
  font-size: 12px;
  color: var(--global-Sectext-color);
  margin-left: 40%;
}



.checkbox{
  opacity: 0;
  position: absolute;
}

.label{
  background-color: var(--theme1-back_keypad-color);
  border-radius: 50px;
  padding: 5px;
  display: var(--global-type-display);
  justify-content: space-between;
  cursor: pointer;
  position: relative; 
  width: 80px;
  height: 26px;
  transform: scale(1.0);
}

.label .ball{
  background-color: var( --theme1-Resultkey_shadow-color);
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 5px;
  height: 18px;
  width: 18px;
  transform: translateX(0px);
  transition: transform 0.2s linear;  
}

.checkbox:checked + .label .ball{
  transform: translateX(24px);
}

#operation{
  display: var(--global-type-display);
  justify-content: flex-end;
  padding: var(--global-size-space);
  margin: var(--global-size-space);
  background-color:var(--theme1-operation_screen-color) ;
  color:var(--global-Sectext-color);
  font-weight: var( --global-font-weight);
  border-radius:var(--global-border-radius);
  font-size: 45px;
  transition: background 0.3s ease-in;
}



#keypad{
  background-color: var(--theme1-back_keypad-color);
  display:var(--global-type-display);
  flex-direction: column;
  justify-content: var(-global-position-content);
  align-items: var(-global-position-content);
  gap: var(--global-size-space);
  padding: var(--global-size-space);
  margin: var(--global-size-space);
  border-radius:var(--global-border-radius);
  transition: background 0.3s ease-in;
  
}

button{
  border: none;
  border-radius: 10px;
  box-shadow:inset 0 -5px 0 0 var(--theme1-Mainkey_shadow-color);
  border-collapse: collapse;
  font-weight: var(--global-font-weight);
  color: var(--theme1-Maintext-color);
  background-color: var(--theme1-MainKey_back-color);
  transition: background 0.3s ease-in;
  
}

#numbers{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: var(--global-size-space);
  font-size: var(--global-font-size);
}

#numbers button{
  padding-top: 8px;
  padding-bottom: 8px;
  
}

#result{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--global-size-space);
}

#result button{
  padding-top: var(--global-size-space);
  padding-bottom: var(--global-size-space);
}

.btn-text{
  background-color:var(--theme1-Resetkey_back-color) ;
  box-shadow:inset 0 -5px 0 0 var(--theme1-Resetkey_shadow-color);
  color: var(--global-Sectext-color);
}

#result .result{
  background-color: var(--theme1-Resultkey_back-color);
  box-shadow:inset 0 -5px 0 0 var(--theme1-Resultkey_shadow-color);
  color: var(--global-Sectext-color);
}

.btn-number{
  font-size: var(--global-numb-size);
}
.btn-text{
  font-size: var(--global-font-size);
}

.attribution { 
  font-size: 11px; 
  text-align: center;
  color:var(--global-Sectext-color);
  transition: color 0.3s ease-in;
 }
.attribution a { 
  color:var(--global-Sectext-color);
  text-decoration: none;
 }





body.active{
  background-color:var(--theme2-back_main-color);
}
#calculator.active{
  background-color:var(--theme2-back_main-color);  
}
#calculator.active header{
  background-color: var(--theme2-back_main-color);
  color: var(--theme2-Maintext-color);
}
#calculator.active header p{
  color: var(--theme2-Maintext-color);
}
#calculator.active #operation{
  background-color:var(--theme2-operation_screen-color) ;
  color:var(--theme2-Maintext-color);
}
#keypad.active{
  background-color: var(--theme2-back_keypad-color);  
}

#keypad.active button{
  box-shadow:inset 0 -5px 0 0 var(--theme2-Mainkey_shadow-color);
  color: var(--theme2-Maintext-color);
  background-color: var(--theme2-MainKey_back-color); 
}

.btn-number.active{
  box-shadow:inset 0 -5px 0 0 var(--theme2-Mainkey_shadow-color);
  color: var(--theme2-Maintext-color);
  background-color: var(--theme2-MainKey_back-color);   
}
#keypad.active .btn-text{
  background-color:var(--theme2-Resetkey_back-color) ;
  box-shadow:inset 0 -5px 0 0 var(--theme2-Resetkey_shadow-color);
  color: var(--global-Sectext-color);
}
#result .result.active{
  background-color: var(--theme2-Resultkey_back-color);
  box-shadow:inset 0 -5px 0 0 var(--theme2-Resultkey_shadow-color);
  color: var(--global-Sectext-color);
}
#calculator.active header .label{
  background-color: var(--theme2-back_keypad-color)
}
#calculator.active header .ball{
  background-color: var( --theme2-Resultkey_shadow-color);
}

.attribution.active {
  color:var(--theme2-Maintext-color);
 }
.attribution.active a { 
  color:var(--theme2-Maintext-color);
 }
